<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.example.fhdemo3.20110923-demo-nodejs" version="1.0" width="320" height="480" start="index.html">
<title>20110923-demo-nodejs</title>
<description>Full test app that exercises various node.js server side.</description>
<author name="Damian Beresford" email="damian.beresford@feedhenry.com" url=""></author>
<license></license>
</widget>
